<html>
    <head>
        <title>Test</title>
    </head>
<body>

<h1>Please provide your vCloud Air credentials (and be patient while we build the tree. Go get a cup of coffee!!) </h1>

<form action="/" method="POST">
    Username: <input type="text" name="username">
    <br/>
    Password: <input type="password" name="password">
    <br/>
    <input type="submit">
</form>

</body>
</html>